<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post" action="/cities/new">
	<p>City: <input type="text" name="name"></p>
	<p>Country: <input type="text" name="country"></p>
	<input type="submit" value="Submit">
</form>
</body>
</html>